@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.content {
    position: relative;
    border-radius: 15px;
    background-color: white;
    width: 35%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);

}
.content::before{
    content: '';
    position: absolute;
    background-color: #E88F09;
    height: 100%;
    width: 40%;
    z-index: 10;
    border-left-color: rgb(0 0 0 / 10%);
    border-left-style: solid;
    border-left-width: 1px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.title {
    font-size: 30px;
    text-transform: capitalize;
    color: #E88F09;
}

.description{
    font-size: 15px;
    color: gray;
}
.description-primary{
    font-size: 15px;
    font-weight: 400;
}

.logo-social-media{
  font-size: 30px;
  margin-right: 9px;
}

.btn {
    color: #fff;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 15px;
    padding: 5px 30px;
    font-weight: bold;
    width: 190px;
    align-self: center;
}
.btn-login{
    background-color: transparent;
    border: 1px solid #fff;
    transition: background-color 0.8s;;
}
.btn-register {
    background-color: transparent;
    color: #E88F09;
    border: 1px solid #E88F09;
    transition: background-color 0.8s;
}

.btn-signin {
    border: 1px solid #E88F09;
    background-color: transparent;
    color: #E88F09;
    margin-top: 20px;
    transition: background-color 0.8s;
}

.btn-cadastrar {
    background-color: transparent;
    border: 1px solid #fff;
    transition: background-color 0.8s;
}

.btn-cadastrar:hover{
    background-color: white;
    color: #E88F09;
}
.btn-signin:hover {
    background-color: #E88F09;
    color: white;
    border: none;

}
.btn-register:hover {
    background-color: #E88F09;
    color: white;
}

.btn-login:hover {
    background-color: white;
    color: #E88F09;
}
.first-content {
    display: flex;
}

.first-element{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.second-element{
    line-height: 30px;
    text-align: center;
    z-index: 11;
    flex: 1 0 auto;
}
.second-content {
    position: absolute;
    display: flex;
}
.second-content .first-element{
    order: 2;
}

.second-content .second-element{
    order: 1;
}
.first-content .first-element {
    z-index: -1;
}
.first-content .second-element {
    z-index: -1;
}

.social-media-list {
    display: flex;
    list-style-type: none;
}

.social-media-list a {
    cursor: pointer;
    color: gray;
    transition: color 0.5s;
}

.social-media-list a:hover {
    color: #000;
}

.form{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.form input{
    border: none;
    border-radius: 8px;
    background-color: #E8DCDA;
    margin: 8px;
    height: 40px;

}

.form input::placeholder{
    padding-left: 10px;
    font-size: 15px;
}
.forget-password {
    text-transform: capitalize;
    text-align: center;
    font-size: 13px;
    text-decoration: none;
}

.forget-password:hover{
    text-decoration: underline;
}

/* Inserir essa classe dentro de body pra aparecer o primeiro conteudo*/
.register-js .second-content .first-element, .register-js .second-content .second-element{
    z-index: -1;

}

.register-js .first-content .first-element{
    z-index: 11;
}

.register-js .first-content .second-element{
    z-index: 13;
}

.register-js .content::before{
    right: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slidein 1.5s;
    z-index: 12;
}

/* Inserir essa classe dentro de body pra aparecer o segundo conteudo*/

.sign-in-js .first-content .first-element, .sign-in-js .first-content .second-element{
    z-index: -1;
}

.sign-in-js .second-content .first-element{
    z-index: 11;
}
.sign-in-js .second-content .second-element{
    z-index: 13;
}

.sign-in-js .content::before{
    z-index: 12;
    animation: slideout 1.5s;
}

/* Animação da troca de tela */

@keyframes slidein {
    from {
        left: 0;
        width: 40%;
    }

    50% {
        left: 40%;
        width: 40%;
    }

    75% {
        left: 60%;
        width: 40%;
    }

    to {
        right: 0;
        width: 40%;
    }
}

@keyframes slideout {
    from {
        right: 0;
        width: 40%;
    }

    50% {
        right: 40%;
        width: 45%;
    }

    to {
        right: 60%;
        width: 40%;
    }
}
